@{
    ViewData["Title"] = "Login";
    Layout = "";
}
@using learn_arabic.Models
@model LoginModel
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with a Dashboard for Bootstrap 4.">
    <meta name="author" content="Creative Tim">
    <title>Argon Dashboard - Free Dashboard for Bootstrap 4</title>
    <!-- Favicon -->
    <link rel="icon" href="~/img/brand/favicon.png" type="image/png">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <!-- Icons -->
    <link rel="stylesheet" href="~/vendor/nucleo/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="~/vendor/fortawesome/fontawesome-free/css/all.min.css" type="text/css">
    <!-- Page plugins -->
    <link href="~/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" />
    <!-- Argon CSS -->
    <link rel="stylesheet" href="~/css/style.css?v=1.2.0" type="text/css">
</head>

<body class="bg-default">

    <!-- Main content -->
    <div class="main-content mb-2">
        <div class="header bg-gradient-primary py-7 py-lg-8 pt-lg-9">

            <div class="separator separator-bottom separator-skew zindex-100">
                <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
        </div>
        <!-- Page content -->
        <div class="container mt--8 pb-5">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-7">
                    <div class="card bg-secondary border-0 mb-0">

                        <div class="card-body px-lg-5 py-lg-5">
                            <div class="text-center text-muted mb-4">
                                <small>sign in with credentials</small>
                            </div>
                            <form role="form" method="post" action="/User/Login" id="add-new">
                                <div class="form-group mb-3">
                                    @if (ViewBag.Error != null)
                                    {
                                        <div class="alert alert-danger" role="alert">
                                            @ViewBag.Error
                                        </div>
                                    }
                                    <div class="input-group input-group-merge input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                        </div>
                                        <input class="form-control" asp-for="Email" placeholder="Email" type="email" value="@Model?.Email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-merge input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                        </div>
                                        <input class="form-control" asp-for="Password" placeholder="Password" type="password">
                                    </div>
                                </div>
                                <div class="custom-control custom-control-alternative custom-checkbox">
                                    <input class="custom-control-input" id="customCheckLogin" type="checkbox" name="rememberMe" value="true">
                                    <label class="custom-control-label" for="customCheckLogin">
                                        <span class="text-muted">Remember me</span>
                                    </label>
                                </div>
                                <input type="hidden" value="@ViewBag.ReturnUrl" name="ReturnUrl"/>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary my-4">Sign in</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row mt-3 mb-2">
                        <div class="col-6">
                            <a href="#" class="text-light"><small>Forgot password?</small></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="py-5 mt-5" id="footer-main">
        <div class="container">
            <div class="row align-items-center justify-content-xl-between">
                <div class="col-xl-6">
                    <div class="copyright text-center text-xl-left text-muted">
                        &copy; 2020 <a href="https://www.ggs-co.com" class="font-weight-bold ml-1" target="_blank">Creative Tim</a>
                    </div>
                </div>
                <div class="col-xl-6">
                    <ul class="nav nav-footer justify-content-center justify-content-xl-end">
                        <li class="nav-item">
                            <a href="https://www.ggs-co.com" class="nav-link" target="_blank">Creative Tim</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.ggs-co.com/presentation" class="nav-link" target="_blank">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a href="http://blog.ggs-co.com" class="nav-link" target="_blank">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://ggs-co/creativetimofficial/argon-dashboard/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/vendor/jquery/dist/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/js-cookie/js.cookie.js"></script>
    <script src="~/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
    <!-- Optional JS -->
    <script src="~/vendor/chart.js/dist/Chart.min.js"></script>
    <script src="~/vendor/chart.js/dist/Chart.extension.js"></script>
    <script src="~/vendor/sweetalert2/dist/sweetalert2.min.js"></script>
    <!-- Argon JS -->
    <script src="~/vendor/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <script src="~/js/script.js?v=1.2.0"></script>

    <script>
        

    </script>
    @if (ViewBag.Error != null)
    {
        <script>
            $(document).ready(
                function () {
                    setTimeout(function () {
                        $(".alert-danger").hide(600);
                    }, 4000);
                });

        </script>
    }
</body>

</html>