<li class="nav-item">
    <a class="nav-link" href="examples/profile.html">
        <i class="ni ni-single-02 text-yellow"></i>
        <span class="nav-link-text">Component</span>
    </a>
</li>
@code {

}
