@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>




@*<br />
<br />
<br />
<br />
<h6>If you are an Admin: </h6><button class="btn btn-secondary" onclick="return goToControlPanel();">Go To Control Panel</button>*@










<script>
    function goToControlPanel() {
        window.location.href = "/CP/CPIndex";
    }
</script>